
 .block{
    display: flex;
    justify-content: center;
  }
.paragraph-statistic{
    margin:100px; 
    text-align: center;
  }
  .paragraph-statistic h1{
    color: #00b39b;
    font-weight: lighter;
  }
  .paragraph-statistic p{
    max-width: 460px;
    color: #747474;
    font-size: 14px;
    line-height: 25px;
  }
 